*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


header{
    background-color: aquamarine;
    position: relative;
    max-width: 100%;
    height: 80px;
    display:block;
    justify-content:space-between;
}
 
.logo{
    float: left;
}

.logo h2{
    font-size: 30px;
    line-height: 80px;

    padding-left: 80px;

}
.nav{
padding-right: 60px;
float: right;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    
    margin:  0 15px;
    
    /* text-align: center; */
    

}
ul li a{
    font-size: 20px;
    text-decoration: none;
    color: orangered;
    font-weight: bold;
    border-bottom: 2px solid   aquamarine;
    border-top: 2px solid   aquamarine
}       
 a:hover{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    transition: ease-in-out .5s;
    color: gray;
    
}
a:active{
    color: brown;
    background-color: white;

}

span{
    position: absolute;
    right: 25px;
    padding-top: 25px;
    font-size: 30px;
    display: none;
    background-color: red;
    z-index: 4;
    
}

@media only screen and (max-width: 600px) {


    .logo{
        z-index: 3;
    }


    .logo h2{
        padding-left: 25px;
        font-size: 25px;
    }

    .nav{
        padding-right: 0px;
        
        
        }

   ul{
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 30, 79);

   } 
   ul li{
    text-align: center;
    width: 100%;
    margin-left:  0px;

    

   }
   ul li a{
    border: none ;
    
   }

   ul li:hover{
    background-color: wheat;
   }
   ul li a:hover{
    
    border: none;
   }
   span{
    display: block;
    
   }


   .remove{
    display:none;
   }

}